/*=============================================================================================================================
 									max-width: 1409px Start
 ==============================================================================================================================*/

@media only screen and (max-width: 1409px) {}

/*=============================================================================================================================
 									max-width: 1409px End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									max-width: 1199px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 1199px) {}

/*=============================================================================================================================
									max-width: 1199px   End
==============================================================================================================================*/

/*=============================================================================================================================
									max-width: 991px   Start
==============================================================================================================================*/

@media only screen and (max-width: 991px) {
    /* =========================   NAVBAR   ========================= */
    .navIcon {
        display: block;
    }
    .blackBG {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
    .blackBGActive {
        right: 0;
    }
    .navbar {
        width: 450px;
        position: fixed;
        right: -450px;
        top: 0;
        height: 100vh;
        /* background-color: var(--theme-white); */
        flex-direction: column;
        justify-content: flex-start;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        z-index: 999999999 !important;
        /* background: rgba(255, 92, 233, 0.6); */
        background: linear-gradient(90deg, rgb(184, 93, 245, 0.6) 0%, rgb(245, 45, 58, 0.6) 100%);
        box-shadow: 0 8px 32px 0 rgba(135, 31, 118, 0.5);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        /* border-radius: 10px; */
        border-left: 2px solid rgba(255, 255, 255, 0.3);
    }
    .navbarActive {
        right: 0%;
    }
    .navItem {
        font-size: 16px !important;
        margin: 20px 0px;
        color: var(--theme-white);
    }
    .Close {
        display: block;
        align-items: start !important;
        font-size: 35px;
        margin: 25px 0;
    }
    .serchBar[type=text] {
        background-image: url('../Game/search-solid.svg');
        padding: 10px 7px 10px 45px;
    }
    .serchBar {
        order: -1;
        margin-bottom: 15px;
        /* margin-top: 55px; */
        margin-left: 0px !important;
        margin-right: 0px !important;
        border-bottom: 1px solid #ccc !important;
        border-top: transparent !important;
        border-left: transparent !important;
        border-right: transparent !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }
    .serchBar::placeholder {
        color: #ccc;
    }
}

/*=============================================================================================================================
									max-width: 991px   End
==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 767px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 767px) {}

/*=============================================================================================================================
 									Max-Width: 767px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 600px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 600px) {}

/*=============================================================================================================================
 									Max-Width: 600px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 575px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 575px) {
    .navbar {
        width: 350px;
    }
    .f-36 {
        font-size: 32px;
    }
}

/*=============================================================================================================================
 									Max-Width: 575px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 425px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 425px) {
    .navbar {
        width: 300px;
    }
    .f-36 {
        font-size: 30px;
    }
    .PlayBtn {
        padding: 10px 20px;
        white-space: nowrap;
    }
    .navIcon {
        margin-left: 0px;
        padding: 10px 10px !important;
    }
}

/*=============================================================================================================================
 									Max-Width: 425px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 Max-Width: 375px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 375px) {
    .navbar {
        width: 275px;
    }
    .f-36 {
        font-size: 26px;
    }
    .cusOver {
        overflow-x: auto;
    }
}

/*=============================================================================================================================
Max-Width:   375px   End
==============================================================================================================================*/

/*=============================================================================================================================
Max-Width: 320px   Start
==============================================================================================================================*/

@media only screen and (max-width: 320px) {}

/*=============================================================================================================================
Max-Width: 320px   End
==============================================================================================================================*/

@media only screen and (max-width: 348px) {}